@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --color-primary: #ff900e;
  --color-secondary: #000000;
  --color-secondary-light: #727272;
  --color-white: #ffffff;
  --color-background: #ff900e1a;
}

/* navbar section starts  */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 150px;
  background-color: var(--color-background);
}

.navbar-logo {
  font-weight: 700;
  font-size: 25px;
  color: var(--color-primary);
}

.navbar-model {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navbar-list {
  list-style: none;
  display: flex;
  gap: 30px;
  font-weight: 600;
  font-size: 16px;
  color: var(--color-secondary);
}

/* navbar section ends */

/* header section starts  */

.header {
  background-color: var(--color-background);
  text-align: center;
  padding: 20px 150px;
}

.header-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  margin-bottom: 20px;
}

.header-contain {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 15px;
}

.btn-primary {
  padding: 15px 25px;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: 15px;
  font-weight: 400;
  border-radius: 5px;
  border-style: none;
}

.header-image {
  margin-top: 30px;
  height: 80vh;
  width: 100%;
  margin-bottom: 10px;
}

/* header section ends */

/* Features section starts */

.feature {
  display: flex;
  align-items: center;
  margin-top: 50px;
  width: 80%;
  margin: 20px auto;
}

.features-image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.image {
  width: 250px;
  height: 250px;
}

.feature-container {
  padding: 0 60px;
}

.feature-title {
  font-weight: 500;
  font-size: 40px;
  line-height: 45px;
  margin-bottom: 20px;
}
.font-color-1 {
  color: var(--color-secondary-light);
}
.font-color-2 {
  color: var(--color-primary);
}

.feature-contain {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 15px;
  color: var(--color-secondary-light);
}

/* Features section ends */

.features-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 80%;
  margin: 0 auto;
  gap: 40px;
}

.features-item {
  width: 100%;
  margin: 0 auto;
}

.features-item-title {
  font-weight: 500;
  font-size: 40px;
  line-height: 45px;
  margin-bottom: 20px;
}

.features-item-contain {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 15px;
  color: var(--color-secondary-light);
}

/* .features-list {
  padding-left: px;
} */

.lists {
  border: 5px solid var(--color-white);
  box-shadow: 5px 5px 5px 5px #727272;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px 15px;
}

.lists h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 10px;
}

.lists p {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}

.features-container-image img {
  width: 100%;
  margin: 0 auto;
}

/* facts section starts  */

.facts {
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
}

.facts-container {
  font-weight: 500;
  font-size: 40px;
  line-height: 45px;
  margin-bottom: 20px;
}

.facts-contain {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 15px;
  color: var(--color-secondary-light);
}

.icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  padding: 0 150px;
}

.icon-list {
  border: 1px solid var(--color-primary);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-radius: 10px;
  text-align: center;
  padding: 20px 20px;
  margin-top: 80px;
}
.icon-list h3 {
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
}
/* facts section ends  */

/* Sponsors section starts */

.sponsor {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.sponsor-container h3 {
  margin-top: 150px;
  font-weight: 500;
  font-size: 40px;
  line-height: 45px;
  margin-bottom: 20px;
  text-align: center;
}

.sponsor-container p {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 15px;
  color: var(--color-secondary-light);
}

.sponsor-image {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

/* Sponsors section ends */

/* footer section starts */

.footer {
  width: 80%;
  margin: 0 auto;
  background-color: var(--color-background);
}

.footer p {
  padding: 20px 0;
  text-align: center;
  color: var(--color-secondary);
  margin: 100px 0;
  font-weight: 600;
  font-size: 15px;
}

/* footer section ends */

@media screen and (max-width: 767px) {
  .navbar {
    padding: 10px 10px;
  }
  .navbar-list {
    gap: 7px;
  }
  .header {
    padding: 50px 10px;
  }
  .header-title {
    font-size: 35px;
  }
  .header-contain {
    font-size: 20px;
  }
  .header-image {
    height: 30vh;
    width: 100%;
  }

  .features-image {
    
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .feature{
    flex-direction:column;
    
  }
  .feature-container{
    padding: 20px 10px;
  }
.features-image .image{
    width: 300px;
    height: auto;
}

.features-container{
grid-template-columns: repeat(1, 1fr);
  } 

}
